footer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;

  padding: 10vh 10vw;
  min-height: 50vh;
  background-color: #191A19;
}

#photo, #contactInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 5vw;
}

#madhu {
  width: 25vw;
  margin: 2.5vw;
}

#sign {
  height: 5rem;
  margin: 0 2.5vw 2.5vw 0;
  filter: invert();
}

#contactInfo {
  flex-direction: column;
}

footer > section > p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #DDDDDD;
}

footer > section > p > strong {
  color: #FFFFFF;
}

@media only screen and (max-width: 815px) {
  footer {
    padding: 5vh 5vw;
  }

  #madhu {
    width: 90vw;
    height: 67.5vw;
    margin: 0;
    object-fit: cover;
  }

  #contactInfo {
    width: 100%;
  }
}
